# Copyright 2020-2026 Chris Croome
#
# This file is part of the Webarchitects ONLYOFFICE Ansible role.
#
# The Webarchitects ONLYOFFICE Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects ONLYOFFICE Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects ONLYOFFICE Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: ONLYOFFICE installed
  block:

    - name: Read package facts
      ansible.builtin.package_facts:
        manager: apt

    - name: Set a fact for the installed version of onlyoffice-documentserver
      block:

        - name: Debug ansible_facts.packages.onlyoffice-documentserver
          ansible.builtin.debug:
            var: ansible_facts.packages['onlyoffice-documentserver']
            verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
          tags:
            - debug

        - name: Set a fact for the ONLYOFFICE apt package version
          ansible.builtin.set_fact:
            onlyoffice_docserver_apt_version: "{{ ansible_facts.packages['onlyoffice-documentserver'] | community.general.json_query('[0].version') }}"

        - name: Debug onlyoffice_docserver_apt_version installed
          ansible.builtin.debug:
            var: onlyoffice_docserver_apt_version
            verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
          when:
            - onlyoffice_docserver_apt_version is defined
            - onlyoffice_docserver_apt_version | length > 0
          tags:
            - debug

      when: ("onlyoffice-documentserver" in ansible_facts.packages)

    - name: Install ONLYOFFICE Document Server
      block:

        - name: "ONLYOFFICE Document Server to be installed {{ onlyoffice_docserver_version }}"
          ansible.builtin.debug:
            msg: "The next task will apt install onlyoffice-documentserver={{ onlyoffice_docserver_version }} and this may take some time."

        - name: "ONLYOFFICE Document Server present version {{ onlyoffice_docserver_version }}"
          ansible.builtin.apt:
            pkg:
              - "onlyoffice-documentserver={{ onlyoffice_docserver_version }}"
            install_recommends: true
            state: present
            update_cache: true
            cache_valid_time: 0
          notify:
            - Reload systemd
            - Restart docservice

        # https://helpcenter.onlyoffice.com/de/server/linux/document/install-fonts.aspx
        # changed_when is set to false as there is no easy way to know if this command did anything or not
        - name: ONLYOFFICE Document Server fonts configured
          ansible.builtin.command: documentserver-generate-allfonts.sh true
          changed_when: false

      when: >-
        ( onlyoffice_docserver_apt_version is not defined ) or
        ( onlyoffice_docserver_version != onlyoffice_docserver_apt_version )

  tags:
    - onlyoffice
...
